body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    width: 100%;
}

#input {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    margin: 2em;
}

#inputCanvas {
    width: 500px;
    height: 600px;
}

#container {
    display: flex;
}

#lostRobot {
    width: 50%;
}